{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'flashcard-app.css' %}" >
    <script src="{% static 'eventos-app.js' %}"></script>
    <title>Flashcards</title>

</head>
<body>
    {%include "nav-bar.html"%}
    <h2>Practica con tus flashcards</h2>
    
        <h3>Anverso</h3>
        <div id="anverso">
            <p>{{flash.reverse}}</p>
        </div>
        <h4>Escribe tu Respuesta</h4>
        <div id="respuesta">
            
               <input id="texto" type="text">
                <button id="button" onclick="oprimir()">Respuesta</button>
               <p id="resultado">Contesta</p>
    
            
        </div>
        <h3>Reverso</h3>
        <div id="reverso">
            <p>{{flash.anverse}}</p>
        </div>
        {% comment%}
        <form action="{% url  'flashcards'%}">
            <input type="submit"  value = "Siguiente">
        </form>
        {% endcomment%}
                
</body>
</html>