<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <style>
       
        body{
            text-align: center;
            background-color: cornflowerblue;
        }
        #anverso,#reverso{
            margin-top: 5%;
            background-color: bisque;
            border: black 4px solid;
            border-radius: 4px;
            height: 10%;
            width: 20%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    {%include "nav-bar.html"%}
    <h2>Practica con tus flashcards</h2>
    <h3>Anverso</h3>
    
    <div id="anverso">
        <p>{{flash.reverse}}</p>
    </div>
    <h4>Escribe tu Respuesta</h4>
    <div id="respuesta">
        <input type="text">
        <button id="boton_revisar">Respuesta</button>
    </div>
    <h4>Reverso</h4>
    <div id="reverso">
        <p>{{flash.anverse}}</p>
    </div>
    

    
</body>
</html>